<!doctype html>
<html>
	<head>
	</head>
	
	<link rel="stylesheet" type="text/css" href="style.css">

	<body>
<h1>	Un seul clique peux faire votre bonheur. </h1>
		<div class="parallax first">
			<div class="right-heading">
				<h1> Autaumobile</h1>
				<div class="caption-text">
		<a href="{{ path ('categorieProduits', { 'idcategorie' : 1}) }}">Là ou certains voient une voiture, nous, nous voyons une étoile de légende.  </a>
				</div>
			</div>
		</div>


		<div class="band">
				<h1> Jeux videos </h1>
		</div>

		<div class="parallax second">
			<div class="sub-caption">
				<div class="caption-text">
			<a href="{{ path ('categorieProduits', { 'idcategorie' : 2 }) }}">	Qui relève le defit? Soyez le premier à l'obligez à degainer .. du moins s'il vous en laisse le temps !!</a>
				</div>
			</div>
		</div>

		<div class="band">
			<h1> High Tech  </h1>
		</div>

		<div class="parallax three">
			<div class="sub-caption left">
				<div class="caption-text">
					<a href="{{ path ('categorieProduits', { 'idcategorie' : 3 }) }}"> Et si vos reves devenaient une réalité</a>
				</div>
			</div>
		</div>


<div class="band">
			<h1>Telephone  </h1>
		</div>

		<div class="parallax four">
			<div class="sub-caption left">
				<div class="caption-text">
					<a href="{{ path ('categorieProduits', { 'idcategorie' : 4 }) }}"> Le smarphone du futur.. un seul appel peux le confirmer</a>
				</div>
			</div>
		</div>



		

	
		
<div class="band">
			<h1>Vetements</h1>
		</div>

		<div class="parallax fourrr">
			<div class="sub-caption left">
				<div class="caption-text">
				<a href="{{ path ('categorieProduits', { 'idcategorie' : 5 }) }}">	L'élégance à droit à son prix </a>
				</div>
			</div>
		</div>


		<div class="band">
			<h1>Sport</h1>
		</div>

		<div class="parallax fourr">
			<div class="sub-caption left">
				<div class="caption-text">
				<a href="{{ path ('categorieProduits', { 'idcategorie' : 6 }) }}">	Une belle forme nécésite des sacrifices </a>
				</div>
			</div>
		</div>




	</body>
</html>