<div class="span3">
    <div class="well">
        <ul class="nav nav-list">
            <li>
                  <a href="{{ path('produits') }}">Acceuil</a>
            </li>
            <li>
               <a href="{{ path('produits') }}">Mode user</a>
            </li>
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
        <li>
                <a href="{{ path ('yes_index') }}">Medias</a>
            </li
            <li>
                <a href="{{ path ('categorie_index') }}">Catégories produits</a>
            </li>
            <li>
                <a href="{{ path ('produits_index') }}">Produits</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('user_index') }}">Clients</a>
            </li>
            <li>
                <a  href="{{ path ('showfacture') }}">Commandes</a>
            </li>
        </ul>
    </div>
    
    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="adminpage[D[D[D[D[3~[3~P[C[C[C[C[C[D[Ds_index">Pages</a>
            </li>
        </ul>
    </div>    
</div>