
{% extends '::layout/layout.html.twig' %}
{% set totalHT = 0 %}
{% set totalTTC = 0%}
{% set refTva = {} %}
{% for produit in produits %}
                    {% for t in tva %}
                        {% if(t.id == produit.tva) %}
                              {% set refTva = refTva|merge({ ('%' ~ t.valeur) : 0 }) %}
                        {% endif %}
                    {% endfor %}

{% endfor %}



{% block body %}


	<div class="container">
		<div class="row">
         <div class="span3"> 
            {% include '::ModelUsed/navigation.html.twig' %} 
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
               {% include '::ModelUsed/utilisateurConnecter.html.twig' %}  
            {% else %}
               {% include '::ModelUsed/utilisateur.html.twig' %} 
            {% endif %} 
            
</div>
				<div class="span9">
                  {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
                    <h2>Votre parnier</h2>
                    <form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Références</th>
                                <th>Quantité</th>
                                <th>Prix unitaire</th>
                                <th>Total HT</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% set ii = 0 %}
                         {% if produits|length == 0 %}
                        <tr>
                            <td colspan="4"><center>Aucun articles dans votre panier</center></td>
                        </tr>
                         {% endif %}
                         {% for produit in produits %}
                         <tr>
                    
                        <td>{{produit.nom}}</td>
                        <td>
<form action="{{ path('ajouterPlus', { 'id' : produit.id_produit }) }}" method="get">
                         
                                 <select name="qte" class="span1" onChange = "this.form.submit()">
                                    {% for i in 1..10 %}
                             <option value="{{ i }}" {% if i == produit.quantite %} selected="selected" {% endif %}>{{ i }}</option>
                                    {% endfor %}
                                </select>&nbsp;
                                
                        
                                <a href="{{ path('ajouterPlus', { 'id' : produit.id_produit }) }}"><i class="icon-refresh"></i></a>
                                <a href="{{ path('supprimer', { 'id' : produit.id }) }}"><i class="icon-trash"></i></a>
                          
                                </td>
                                <td>{{ produit.prix }} €</td>
                                <td>{{ produit.prix * produit.quantite}} €</td>
                            {% set ii = ii +  1 %}
                               </form>

                               </tr>
               
                    {% set totalHT = totalHT + (produit.prix * produit.quantite) %}
                    {% for t in tva %}
                        {% if(t.id == produit.tva) %}
                            {% set totalTTC = totalTTC + (produit.prix * produit.quantite)|tva(t.multiplicate) %}
                        {% endif %}
                    {% endfor %}


                    {% for t in tva %}
                        {% if(t.id == produit.tva) %}
                             {% set totalTTC = totalTTC + (produit.prix * produit.quantite)|tva(t.multiplicate) %}
                        {% endif %}
                    {% endfor %}


                    {% for t in tva %}
                        {% if(t.id == produit.tva) %}
                            {% set refTva = refTva|merge({ ('%' ~ t.valeur) : refTva['%' ~ t.valeur] + ( produit.prix * produit.quantite)|montantTva(t.multiplicate) }) %}
                        {% endif %}
                    {% endfor %}
               
       
 {% endfor %}
                          </tbody>
                    </table>
                </form>
      {% if produits|length != 0 %}
               
                <dl class="dl-horizontal pull-right">
                     <dt>Total HT :</dt><dd>{{ totalHT }} €</dd>
                
                {% for key, tva in refTva %}
                    <dt>TVA {{ key }} :</dt><dd>{{ tva }} €</dd>
                {% endfor %}

                <dt>Total TTC :</dt><dd>{{ totalTTC }} €</dd>
                </dl>
                <div class="clearfix"></div>
                <a href="{{ path ('validation') }}" class="btn btn-success pull-right">Valider mon panier</a>
         {% endif %}
                <a href="{{ path ('produits') }}" class="btn btn-primary">Continuer mes achats</a>
            </div>
		
		</div>
	</div>{% endblock %}